# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [113]:
# import numpy and pandas

import pylab as plt
from scipy.stats import norm
import numpy as np

from scipy.stats import t
from scipy.stats import ttest_1samp

In [2]:
%pip install statsmodels

Requirement already satisfied: statsmodels in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (0.13.2)
Requirement already satisfied: patsy>=0.5.2 in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (from statsmodels) (0.5.2)
Requirement already satisfied: pandas>=0.25 in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (from statsmodels) (1.4.2)
Requirement already satisfied: packaging>=21.3 in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (from statsmodels) (21.3)
Requirement already satisfied: numpy>=1.17 in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (from statsmodels) (1.21.5)
Requirement already satisfied: scipy>=1.3 in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (from statsmodels) (1.7.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (from packaging>=21.3->statsmodels) (3.0.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.25->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.25->statsmodels) (2021.3)
Requirement already satisfied: six in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
from statsmodels.stats import weightstats as w

In [11]:
import pandas as pd

from scipy.stats import ttest_rel  # testeo con dos muestras

from scipy.stats import ttest_ind  # testeo de independencia

from scipy.stats import shapiro

from scipy.stats import sem   # error estandar

from statsmodels.stats.proportion import proportions_ztest
import pandas as pd
import numpy as np

In [5]:
%pip install scikit-learn

Requirement already satisfied: scikit-learn in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (1.0.2)
Requirement already satisfied: joblib>=0.11 in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: scipy>=1.1.0 in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (1.7.3)
Requirement already satisfied: numpy>=1.14.6 in /Users/jeffworker/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (1.21.5)
Note: you may need to restart the kernel to use updated packages.

In [6]:
from sklearn.preprocessing import StandardScaler

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [7]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [8]:
# Your code here:

salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [15]:
columns_names = salaries.columns.values
columns_names

array(['Name', 'Job Titles', 'Department', 'Full or Part-Time',
       'Salary or Hourly', 'Typical Hours', 'Annual Salary',
       'Hourly Rate'], dtype=object)

In [22]:
# Your code here:


salaries.loc[:, salaries.isna().any()]

       Typical Hours  Annual Salary  Hourly Rate
0                NaN       101442.0          NaN
1                NaN        94122.0          NaN
2                NaN       101592.0          NaN
3                NaN       110064.0          NaN
4               20.0            NaN        19.86
...              ...            ...          ...
33178            NaN        72510.0          NaN
33179            NaN        48078.0          NaN
33180            NaN        90024.0          NaN
33181            NaN        93354.0          NaN
33182            NaN       115932.0          NaN

[33183 rows x 3 columns]

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [23]:
# Your code here:
salaries.groupby(['Salary or Hourly'])['Name'].count()

Salary or Hourly
Hourly     8022
Salary    25161
Name: Name, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [ ]:
# Your code here:

salaries.groupby(['Department'])['Name'].count()

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [42]:
sample = salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate']
sample

4        19.86
6        46.10
7        35.60
10        2.65
18       17.68
         ...
33164    46.10
33168    17.68
33169    35.60
33174    46.35
33175    48.85
Name: Hourly Rate, Length: 8022, dtype: float64

In [37]:
sample.std()

12.11257268427681

In [35]:
sample.mean()

32.78855771628128

In [110]:
z_score, p_value = w.ztest(sample, value=30, alternative='two-sided') 
z_score, p_value

(20.6198057854942, 1.8228873859286195e-94)

In [107]:
#NO ACEPTAMOS LA HIPOTESIS

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [65]:
# Your code here:
police = salaries[salaries['Department'] == 'POLICE']['Annual Salary']

In [66]:
police = salaries[salaries['Department'] == 'POLICE']['Annual Salary'].dropna()

In [101]:
t_test=ttest_1samp(police, 86000, alternative='less')
t_test

Ttest_1sampResult(statistic=3.081997005712994, pvalue=0.9989698298224517)

In [102]:
police.mean()

86486.41450313339

Using the `crosstab` function, find the department that has the most hourly workers.

In [82]:
crosstab = pd.crosstab(salaries['Department'],salaries['Salary or Hourly'])
crosstab.Hourly.max()

1862

In [84]:
crosstab[crosstab.Hourly == crosstab.Hourly.max()]

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1862     336

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [92]:
worker = salaries[salaries['Department'] == 'STREETS & SAN']['Hourly Rate']
worker

7        35.60
21       21.43
24       35.60
36       36.21
39       35.60
         ...
33107    35.60
33147    35.60
33149    36.21
33156    22.12
33162      NaN
Name: Hourly Rate, Length: 2198, dtype: float64

In [96]:
worker = salaries[salaries['Department'] == 'STREETS & SAN']['Hourly Rate'].dropna()

In [100]:
t_test=ttest_1samp(worker,35, alternative='less')
t_test

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=1.6689265282353859e-21)

In [ ]:
#descartamos H0, el valor es muy bajo

In [99]:
#workers = salaries[salaries['Hourly Rate'] < 35] (to check values :)

In [61]:
t_test=ttest_1samp(police, mu)

86486.41450313339

In [10]:
# Your code here:

t_test=ttest_1samp(police, mu)

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [ ]:
# Your code here:

In [131]:
from scipy.stats import sem   # error estandar

from scipy import stats

In [128]:
sample=salaries[(salaries["Salary or Hourly"]=="Hourly")]["Hourly Rate"]

In [129]:

#t.interval(0.99, len(ab_test.a)-1, loc=ab_test.a.mean(), scale=sem(ab_test.a))

t.interval(0.95, len(sample)-1, loc=sample.mean(), scale=sem(sample))

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [ ]:
# Your code here:

In [132]:
police = salaries[salaries['Department'] == 'POLICE']['Annual Salary'].dropna()

In [133]:
t.interval(0.95, len(police)-1, loc=police.mean(), scale=sem(police))

(86177.05631531784, 86795.77269094894)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [134]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest

In [148]:
salaries['Salary or Hourly']

0        Salary
1        Salary
2        Salary
3        Salary
4        Hourly
          ...
33178    Salary
33179    Salary
33180    Salary
33181    Salary
33182    Salary
Name: Salary or Hourly, Length: 33183, dtype: object

In [146]:
sample_2=salaries[(salaries["Salary or Hourly"]=="Hourly")]
sample_2=len(sample_2['Salary or Hourly'])

sample_2

8022

In [150]:
#z_score, p_value = proportions_ztest(ab_test['cat'].value_counts()[1], len(ab_test), 0.10) Ejemplo...

z_score, p_value = proportions_ztest(sample_2, len(salaries['Salary or Hourly']), 0.25)
z_score, p_value

(-3.5099964213703005, 0.0004481127249057967)